@import "variables";

* {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;

    .content {
        width: 100%;
        max-width: 1500px;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@import "header";
@import "main-image";
@import "link-btn";
@import "container-offer";
@import "container-cities";
@import "form";
@import "footer";
@import "turs";
@import "tur";
@import "message";
@import "table";
