.wrapper-main-image {
    background: url("images/icons/main-img.jpg");
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-title {
        width: 70%;
        text-align: center;

        &__text {
            color: white;
            font-size: 36px;
            text-shadow: 0 0 5px #818284;
        }

        a {
            margin-top: 80px;
        }
    }
}
