@import "variables";

.container-info {
    width: 80%;
    display: flex;
    margin-top: -200px;

    &__image {
        img {
            width: 400px;
        }
    }

    &__info {
        padding: 0 30px;

        div {
            margin: 15px 0;
        }
    }

    .info__about {
        p {
            margin-top: 10px;
        }
    }
}
