$background: #1F2833;
$text-color: #474747;

$link-menu-color: #66FCF1;
$link-menu-hover: #45A29E;
$menu-shadow: 0 0 8px #9ca3af;

$border-color: rgba(179, 181, 185, 0.45);
$shadow: 0 0 20px rgba(205, 207, 210, 0.93);

$button-shadow:0 0 8px rgba(84, 85, 87, 0.5);

$text-error: #e22323;
$text-message: #66FC;
$background-remove: #ff3838;
$background-edit: #33e345;
